name: Test
run-name: Running tests for ProjectVersionUpdater
on: [push]
jobs:
  build:
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v3
      - name: Install .NET Core SDK (global.json)
        uses: actions/setup-dotnet@v3
        with:
          global-json-file: global.json
      - name: Run tests
        working-directory: src/ProjectVersionUpdater.Tests
        run: dotnet test
